<div class="card">
    <div class="card-body">
        <div class="col-md-3">
            <label for="validationCustom01" class="form-label">Flight Number</label>
            <input class="form-control" type="text" [(ngModel)]="BookingDetails.FlightNumber"
                placeholder="Readonly input here…" readonly>
        </div>
        <div class="col-md-3">
            <label for="validationCustom02" class="form-label">PNR</label>
            <input class="form-control" type="text" [(ngModel)]="BookingDetails.Pnr"
                placeholder="Readonly input here…" readonly>
        </div>
        
        <div class="col-md-3">
            <label for="validationCustom03" class="form-label">Source</label>
            <input class="form-control" type="text" [(ngModel)]="BookingDetails.Source"
            placeholder="Readonly input here…" readonly>
        </div>
        <div class="col-md-3">
            <label for="validationCustom03" class="form-label">Destination</label>
            <input class="form-control" type="text" [(ngModel)]="BookingDetails.Destination"
            placeholder="Readonly input here…" readonly>
        </div>
    </div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div class="card">
        <div class="body table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Flight No.</th>
                        <th>Airline</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Arrival</th>
                        <th>Departure</th>
                        <th>Bussines Seats</th>
                        <th>Non-Bussines Seats</th>
                        <th>Ticket Cost</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-green" *ngFor="let item of filteredRecord">
                        <!-- <td>{{item.flightNumber}}</td>
                        <td>{{item.airline}}</td>
                        <td>{{item.fromPlace}}</td>
                        <td>{{item.toPlace}}</td>
                        <td>{{item.startDateTime}}</td>
                        <td>{{item.endDateTime}}</td>
                        <td>{{item.totalBussClassSeats}}</td>
                        <td>{{item.totalNonBussClassSeats}}</td>
                        <td>{{item.ticketCost}}</td>
                        <td><button class="btn btn-primary" (click)="GoToBookFlight(item)" type="submit">Book Flight</button></td>                      -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
