<div class="card">
    <div class="card-body">
        <h5 class="new-card-title" >Booke Ticket Details</h5>
        <div class="row g-3 needs-validation">
            <div class="col-md-3">
                <label for="validationCustom01" class="form-label">From Place</label>
                <!-- <input class="form-control" type="text" [(ngModel)]="flightRecord.fromPlace"
                    placeholder="Readonly input here…" readonly> -->
            </div>
            <div class="col-md-3">
                <label for="validationCustom02" class="form-label">To Place</label>
                <!-- <input class="form-control" type="text" [(ngModel)]="flightRecord.toPlace"
                    placeholder="Readonly input here…" readonly> -->
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Arrival Date</label>
                <!-- <input class="form-control" type="text" [(ngModel)]="flightRecord.startDateTime"
                placeholder="Readonly input here…" readonly> -->
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Departure Date</label>
                <!-- <input class="form-control" type="text" [(ngModel)]="flightRecord.endDateTime"
                placeholder="Readonly input here…" readonly> -->
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Schedule Days</label>
                <!-- <input class="form-control" type="text" [(ngModel)]="flightRecord.scheduledDays"
                placeholder="Readonly input here…" readonly> -->
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Instrument Used</label>
                <!-- <input class="form-control" type="text" [(ngModel)]="flightRecord.instrumentUsed"
                placeholder="Readonly input here…" readonly> -->
            </div>
            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Total Seat</label>
                <!-- <input class="form-control" type="text" [(ngModel)]="flightRecord.totalBussClassSeats"
                placeholder="Readonly input here…" readonly> -->
            </div>
            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Ticket Price</label>
                <!-- <input class="form-control" type="text" [(ngModel)]="flightRecord.ticketCost"
                placeholder="Readonly input here…" readonly> -->
            </div>
        </div>
    </div>
</div>
